<%= content_tag :div, class: "home-carousel" do %>
    <div  id="my-carousel" class="carousel slide" data-ride="carousel">
        <%= content_tag :ol, class: "carousel-indicators" do %>
            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
        <% end %>
        <%= content_tag :div, class: "carousel-inner" do %>
            <%= content_tag :div, class: "item active" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'First slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 1<% end %>
                    <% content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end%>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "item" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'Second slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 2<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "item" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'Third slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 3<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
        <% end %>
        <div  class="left carousel-control" href="#my-carousel", data-slide= "prev">
            <%= content_tag :span, class: "glyphicon glyphicon-chevron-left" do %><% end %>
        </div>
        <div class="right carousel-control" href="#my-carousel" data-slide="next">
            <%= content_tag :span, class: "glyphicon glyphicon-chevron-right" do %><% end %>
        </div>
        <%= content_tag :div, class: "home-carousel-content" do %>
            <%= content_tag :h1 do %>Ruby on Rails<% end %>
            <%= content_tag :p, class: "lead" do %>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>Rails is a web framework for application<% end %>
            <%= content_tag :ul, class: "list-inline-outline" do %>
                <%= content_tag(:li, link_to((fa_icon("angle-double-down")), "http://google.com", :class  => 'btn btn-circle page-scroll', :id => "my-id")) %>
            <% end %>
        <% end %>
    </div>
<% end %>

<!-- the service-icon section of the home page -->
<%= content_tag :div, class: "service-icon" do %>
    <%= content_tag :div, class: "container" do %>
        <%= content_tag :div, class: "row" do %>
            <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                <%= content_tag :div, class: "web-develop" do %>
                    <%= fa_stacked_icon "desktop", base: "square-o", class: "fa-3x" %>
                    <%= content_tag :h1 do %>Section<% end %>
                    <%= content_tag :hr, class: "star-light" do %><% end %>
                    <%= content_tag :p do %>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                <%= content_tag :div, class: "photography" do %>
                    <%= fa_stacked_icon "windows", base: "square-o", class: "fa-3x" %>
                    <%= content_tag :h1 do %>Section<% end %>
                    <%= content_tag :hr, class: "star-light" do %><% end %>
                    <%= content_tag :p do %>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                <%= content_tag :div, class:  "web-application" do %>
                    <%= fa_stacked_icon "code", base: "square-o", class: "fa-3x" %>
                    <%= content_tag :h1 do %>Section<% end %>
                    <%= content_tag :hr, class: "star-light" do %><% end %>
                    <%= content_tag :p do %>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "" do %>

            <% end %>
        <% end %>
    <% end %>
<% end %>

<!-- this is the phone emulator top article and carousel -->
<%= content_tag :div, class: "top-article" do %>
    <%= content_tag :article do %>
        <%= content_tag :h1 do %>Section<% end %>
        <%= content_tag :hr, class: "star-light" do %><% end %>
        <%= content_tag :p do %>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        <% end %>
        <%= content_tag :div, class: "phone-emulator" do %>
            <%= link_to image_tag("iPhone.png", alt: "the phone emulator", class: "img-responsive") %>
        <% end %>
    <% end %>
<% end %>

<!-- this is the work section of the home work pic section showing the landing pages-->
<%= content_tag :div, class: "home-work-pic" do %>
    <%= content_tag :div, class: "container" do %>
        <%= content_tag :h1 do %>Section<% end %>
        <%=  content_tag :hr, class: "star-light" do %><% end %>
        <%= content_tag :div, class: "row" do %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model1.jpg", alt:  "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <%= content_tag :p do %><%= link_to("") %><% end %>
                <% end %>
            <% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model2.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <%= content_tag :p do %><%= link_to("") %><% end %>
                <% end %>
            <% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model3.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <%= content_tag :p do %><%= link_to("") %><% end %>
                <% end %>
            <% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model1.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <%= content_tag :p do %><%= link_to("") %><% end %>
                <% end %>
            <% end %>
        <% end %>
        <%= content_tag :article do %>
            <%= content_tag :h1 do %>Section<% end %>
            <%= content_tag :hr, class: "star-light" do %><% end %>
                <%= content_tag :p do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <% end %>
        <% end %>

        <!-- the other section of the home pic work-->
        <%= content_tag :div, class: "row" do %>
            <%= content_tag :h1 do %>Section <% end %>
            <%= content_tag :hr, class: "star-light" do %><% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model3.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <% end %>
            <% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model1.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <% end %>
            <% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model2.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <% end %>
            <% end %>
            <%= content_tag :figure, class: "col-xs-6 col-sm-3 col-md-3" do %>
                <%= image_tag("model1.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :figcaption do %>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<!-- the bottom article of the page with the desk emulator -->
<%= content_tag :div, class: "bottom-article" do %>
    <%= content_tag :article do %>
        <%= content_tag :h1 do %>Section<% end %>
        <%= content_tag :hr, class: "star-light" do %><% end %>
        <%= content_tag :p do %>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.
        <% end %>
        <%= content_tag :div, class: "desk-carousel-emulator img-responsive" do %>

        <% end %>
    <% end %>
<% end %>
<!-- the bottom region sec of the home page -->
<%= content_tag :div, class: "bottom-region" do %>
    <%= content_tag :div, class: "container" do  %>
        <%= content_tag :div, class: "row" do %>
            <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                <%= image_tag("Silhoutte.jpg", alt: "", class: "img-responsive") %>
                <%= content_tag :h2 do %>Getting started<% end %>
                <%= content_tag :hr, class: "star-light" do %><% end %>
                <%= content_tag :p do %>
                    Ruby MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                <% end %>
                <%= content_tag :p do %><%= link_to(:li, "http://google.com", :class => 'btn-project btn-outline', :id => "my-project") %><% end %>
            <% end %>
            <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                <%= image_tag("photo-of-the-sunset.jpeg", alt: "", class: "img-responsive") %>
                <%= content_tag :h2 do %>Getting more libraries<% end %>
                <%= content_tag :hr, class: "star-light" do %><% end %>
                <%= content_tag :p do %>
                    Ruby MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                <% end %>
                <%= content_tag :p do %><%= link_to(:li, "http://google.com", :class => 'btn-project btn-outline', :id => "my-project") %><% end %>
            <% end %>
            <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                <%= image_tag("sky-over-view.png", alt: "", class: "img-responsive") %>
                <%= content_tag :h2 do %>Web Hosting<% end %>
                <%= content_tag :hr, class: "star-light" do %><% end %>
                <%= content_tag :p do %>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                <% end %>
                <%= content_tag :p do %><%= link_to(:li, "http://google.com", :class => 'btn-project btn-outline', :id => "my-project") %><% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
