<%= content_tag :div, class: "home-carousel" do %>
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <%= content_tag :ol, class: "carousel-indicators" do %>
            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
        <% end %>
        <%= content_tag :div, class: "carousel-inner" do %>
            <%= content_tag :div, class: "item active" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'First slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 1<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "item" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'Second slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 2<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "item" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'Third slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 3<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
        <% end %>
        <div class="left carousel-control" href="#my-carousel" data-slide="prev">
            <%= content_tag :span, class: "glyphicon glyphicon-chevron-left" do %><% end %>
        </div>
        <div class="right carousel-control" href="#my-carousel" data-slide="next">
            <%= content_tag :span, class: "glyphicon glyphicon-chevron-right" do %><% end %>
        </div>
        <%= content_tag :div, class: " carousel-content", :id => "portfolio-content" do %>
            <!-- the portfolio-content carousel-content pages -->
        <% end %>
        <%= content_tag :div, class: "carousel-content" do %>
            <%= content_tag :h1 do %>Ruby on Rails<% end %>
            <%= content_tag :p, class: "lead" do %>Rails is a web framework for application<% end %>
            <%= content_tag :p, class: "m-button" do %>
                <%= link_to ('Learn more &raquo;'), {:href => 'http://asp.net'}, :class => "btn btn-primary btn-lg" %>
                <%= link_to ('Learn more &raquo;'), {:href => 'http://asp.net'}, :class => "btn btn-primary btn-lg" %>
            <% end %>
        <% end %>
    </div>
<% end %>

<div class="port-content">
    <%= content_tag :article do %>
        <%= content_tag :h1 do %>Section <% end %>
        <hr>
        <%= content_tag :p, class: "biography" do %>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
           has been the industry's standard dummy text ever since the 1500s, when an unknown printer
           took a galley of type and scrambled it to make a type specimen book. It has survived not only
           five centuries,<br>
           but also the leap into electronic typesetting, remaining essentially unchanged.
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
           has been the industry's standard dummy text ever since the 1500s, when an unknown printer
           took a galley of type and scrambled it to make a type specimen book. It has survived not only
           five centuries,<br>
           but also the leap into electronic typesetting, remaining essentially unchanged.
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
           has been the industry's standard dummy text ever since the 1500s, when an unknown printer
           took a galley of type and scrambled it to make a type specimen book. It has survived not only
           five centuries,
           but also the leap into electronic typesetting, remaining essentially unchanged.<% end %>
    <% end %>
</div>

<%= content_tag :div, class: "larges-window" do %>
    <%= content_tag :div, class: "window-tint" do %>
        <%= content_tag :div, class: "promo-text" do %>
            Fall Suits<strong><span>from</span>$99</strong><a href="" class="window-cta">Shop Now</a>
        <% end %>
    <% end %>
<% end %>

<%= content_tag :article do %>
    <%= content_tag :h1 do %>Section <% end %>
        <hr>
    <%= content_tag :p do %>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only
        five centuries,<br>
        but also the leap into electronic typesetting, remaining essentially unchanged.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only
        five centuries,<br>
        but also the leap into electronic typesetting, remaining essentially unchanged.
    <% end %>
<% end %>
