<%= content_tag :div, class: "contact-carousel" do %>
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <%= content_tag :ol, class: "carousel-indicators" do %>
            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
        <% end %>
        <%= content_tag :div, class: "carousel-inner" do %>
            <%= content_tag :div, class: "item active" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'First slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 1<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "item" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'Second slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 2<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
                <% end %>
            <% end %>
            <%= content_tag :div, class: "item" do %>
                <%= image_tag("doctype-hi-res.jpg", alt: 'Third slide', class: "img-responsive") %>
                <%= content_tag :div, class: "carousel-caption" do %>
                    <%= content_tag :h3 do %>Caption heading 3<% end %>
                    <%= content_tag :p do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end%>
                <% end %>
            <% end %>
        <% end %>
        <div class="left carousel-control" href="#my-carousel" data-slide="prev">
            <%= content_tag :span, class: "glyphicon glyphicon-chevron-left" do %><% end %>
        </div>
        <div class="right carousel-control" href="#my-carousel" data-slide="next">
            <%= content_tag :span, class: "glyphicon glyphicon-chevron-right" do %><% end %>
        </div>
        <%= content_tag :div, class: "contact-carousel-content" do %>
            <%= content_tag :h1 do %>Ruby on Rails<% end %>
            <%= content_tag :p, class: "lead" do %>Rails is web framework for applicatioon<% end %>
            <%= content_tag :p, class: "m-button" do %>
            <%= link_to ('learn more'), {:li => "http://google.com"}, :class => 'main_btn main_btn-large', :id => "my_plan" %>
            <%= link_to ('learn more'), {:li => "http://google.com"}, :class => 'main_btn main_btn-large', :id => "my_plan" %>
            <% end %>
        <% end %>
    </div>
<% end %>

<!-- the why choosing us contact section -->
<div class="choosing-contact">
    <%= content_tag :div, class: "container" do %>
        <%= content_tag :h1 do %>Why Choosing me<% end %>
        <hr class="star-light">
        <%= content_tag :div, class: "contact-project" do %>
            <%= content_tag :div, class: "row" do %>
                <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                    <%= content_tag :div, class: "ui-ux-design" do %>
                        <%= fa_icon "desktop", class: "fa-3x" %>
                        <%= content_tag :h5 do %>UI UX DESIGN<% end %>
                        <hr class="star-light">
                            <%= content_tag :p do %>
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <% end %>
                    <% end %>
                <% end %>
                <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do%>
                    <%= content_tag :div, class: "ios-android" do %>
                        <%= fa_icon "desktop", class: "fa-3x" %>
                        <%= content_tag :h5 do %>IOS & Android<% end %>
                        <hr class="star-light">
                            <%= content_tag :p do %>
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <% end %>
                    <% end %>
                <% end %>
                <%= content_tag :div, class: "col-xs-12 col-sm-4 col-md-4" do %>
                    <%= content_tag :div, class: "quality-assurance" do %>
                        <%= fa_icon "desktop", class: "fa-3x" %>
                        <%= content_tag :h5 do %>Quality Assurance<% end %>
                        <hr class="star-light">
                            <%= content_tag :p do %>
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>

<!-- the contact section -->
<div class="contacts-form below">
    <%= content_tag :div, class: "container" do %>
        <%= content_tag :h1 do %>CONTACT US AND GET A FREE QUOTE<% end %>
        <hr class="star-light">
        <%= content_tag :div, class: "row" do %>
            <%= content_tag :div, class: "col-xs-12 col-sm-12 col-md-6 col-md-offset-3" do %>
                <%= render 'feedbacks/form' %>
            <% end %>
        <% end %>
    <% end %>
</div><!-- end of the contact section -->

<div class="contact_map">
    <%= content_tag :div, class: "container" do %>
        <%= content_tag :h2 do %> <% end %>
    <% end %>
</div>
