<%= content_tag :div, class: "the_post_banner" do %>
    <header class="banner" >
        <%= image_tag("Silhoutte.jpg") %>
    </header>
    <%= content_tag :div, class: "post_content" do %>
        <%= content_tag :h1 do %>Ruby on Rails <% end %>
            <%= content_tag :h3 do %>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<% end %>
    <% end %>
<% end %><!-- end of the post banner page -->

<%= content_tag :div, id: "posts_wrapper", class: "skinny_wrapper" do %>
<h1>Listing Posts</h1>
<hr class="star-light">
    <% @posts.each do |post| %>
        <%= content_tag :div, class: "post" do %>
            <p class="date"><%= post.created_at.strftime('%A, %b, %d') %></p>
            <h2><a href="#"><%= link_to post.title, post %></a></h2>
        <% end %>
    <% end %>
<% end %><!-- end of the listing posts -->

<!--table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table-->

<br>

<%#= link_to 'New Post', new_post_path %>
